/* background color for entire application */
body {
    background-color: #d9dcd6;
}

/* back to top button
#myBtn {
    position: fixed;
    bottom: 10px;
    float: right;
    right: 18.5%;
    left: 93%;
    max-width: 70px;
    width: 100%;
    font-size: 18px;
    border-color: rgba(85, 85, 85, 0.2);
    background-color: #2a607c;
    padding: .5px;
    border-radius: 4px;
    color: white;
} */

/* header bar at top of page: inclues "Horiseon title" and quick links */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    position: relative;
    /* width: 100%; */
    
}

/* Horiseon main header */
#Hori-n {
    /* display: inline-block; */
    top: 10px;;
    font-size: 48px;
    padding-right: 20px;
    position: relative;
}

/* color difference on "seo" in Horiseon main header // made a little darker */
#seo {
    color: #d6dcd6;
}

/* top of page header quick links */
.quick-links {
    padding-right: 10px;
    margin-right: 0%;
    margin-left: 40%;
    top: -28px;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* padding between header quick links */
.padding-space {
    display: inline-block;
    margin-left: 35px;
}

/* color of quick links */
a {
    color: #ffffff;
    text-decoration: none;
}

/* main photo at top of page */
#hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/modified-images/digital-marketing-meeting-modified.jpg");
    background-size: cover;
    background-position: center;
   
}

/* header attributes for main content */
.content-header {
    margin-bottom: 20px;
    font-size: 32px;
}

/* font size of paragraph text on whole page */
p {
    font-size: 18px;
}

/* main content spacing  */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* main content image location toward left and image height*/
.float-left {
    float: left;
    margin-right: 25px;
    max-height: 200px;
}

/* main content image location toward right and image height */
.float-right {
    float: right;
    margin-left: 25px;
    max-height: 200px;
}

/* boxes behind main content */
.content-box {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}


/* elements on the side bar's ability to properly move with screen resizing */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* side bar box attributes */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* side bar headers */
.benefit-header {
    margin-bottom: 10px;
    text-align: center;
}

/* side bar image attributes */
.benefit-images {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* side bar lead generation content (affecting to paragraph blurbs) */
.benifit-content {
    margin-bottom: 32px;
    color: #ffffff;
}


/* footer appearance */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 20px;
}
